<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>newgame_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,488},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,732},{309,122}}</string>
        <key>offset</key>
        <string>{-0.25,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,13.5},{309,122}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,854},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,121.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,243},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,364.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,486},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,607.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,729},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,850.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,0},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,121.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,243},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,364.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,486},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,607.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,729},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
      <key>newgame_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,850.5},{309,121.5}}</string>
        <key>offset</key>
        <string>{-0.25,-3.75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,14},{309,121.5}}</string>
        <key>sourceSize</key>
        <string>{363.5,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>newgame-0.png</string>
      <key>size</key>
      <string>{927,976}</string>
      <key>textureFileName</key>
      <string>newgame-0</string>
    </dict>
  </dict>
</plist>
